  .container {
    width: 50%;
    height: 40vh;
    margin-left: 25vw;
    border-color: black;
  }
  
  .sigContainer {
    width: 35%;
    height: 80%;
    margin: 0 auto;
    background-color: #fff;
  }
  
  .sigPad {
    width: 200px;
    height: 200px;
  }
  .buttons {
    margin: 1vh 20vw;
    flex-direction: column;
    justify-content: center;
    background-color: #131313;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 5px rgb(0, 0, 0);

  }
  .buttons:hover {

    background-color: #767676;
    color: white;
  }
  .buttons:active {
    background-color: #131313;
    box-shadow: 0 5px rgb(0, 0, 0);
    transform: translateY(4px);
  }
  .sigImage {
    
    background-size: 200px 200px;
    width: 5vw;
    height: 10vh;
    background-color: white;
  }
  .loading{
    text-align: center;
    width:10%;
    height: 10%;
  }